.App {
  z-index: 50;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  min-height: 100%;
  height: auto;
  width: auto;
  position: relative;
}

.AppParent {
  position: absolute;
  /* position: relative; */
  width: 100vw;
  background-color: #d41c2c;
  z-index: 0;
  height: 100vh;
  overflow-x: hidden;
}

.horse {
  z-index: 2;
  position: fixed;
  /* position: relative; */
  background-image: url("../public/yellow_horse.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position-y: bottom;
  -moz-animation: marquee 10s linear infinite;
  -webkit-animation: marquee 10s linear infinite;
  animation: marquee 10s linear infinite;
  width:100%;
  height:100%;
}

.Nav {
  padding-left: 0.5vw;
}

@-moz-keyframes marquee {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}
@-webkit-keyframes marquee {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}
@keyframes marquee {
  0% {
    -moz-transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
  100% {
    -moz-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
}
